body{
     font: 15px/1.5  Arial, Helvetica, sans-serif ;
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
*/
margin:0;
padding:0;
background-color:rgb(223, 232, 240);
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
.button_1{
    width:100px;
    height: 40px;
    background:rgb(167, 26, 26);
    color:white;
    border:0px;
}
header{
    background:rgb(33, 33, 77);
    color:white;
}
header a{
    color:white;
    text-decoration:none;
    text-transform:uppercase;
    font-size: 16px;
}
header ul{
    margin:0;
    padding:0;
}
header li{
float:left;
display: inline;
padding: 0px 20px 0px 20px;

}
aside#sidebar{
    float: right;
    margin-top: 60px;
    width: 30%;
    padding: 20px;
    border:#8679ff solid 1px;
    background: #332b75;
    color: #ffffff;
}
ul#services li{
    margin-bottom:5px;
    list-style: none;
    padding: 20px;
    border:#8679ff solid 1px;
    background: #3d3777;
    color:#ffffff;
}
article#main-col{
    float: left;
    width: 65%;
}
header #branding h1{
    float:left;
    margin:0;
}
header nav{
    float:right;
    margin-top: 10px;
}

header .highlight header .current a{
    color:rgb(158, 0, 0);
    font-weight: bold;
}
header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/*show case*/
#showcase{
    min-height:400px;
    background: url(../img/XCM_1095776_Manual_750x375_1095776_us_pc_hardware_pcit_maincomputersstorefront_tablets_v3_cg_750x375_jpg_PCIT_PCIT_mainComputersStorefront.jpg) no-repeat ;
    background-size:100%;
    text-align:center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size:55px;
}
#newletter{
    padding: 10px;
    color: #ffffff;
    background-color: rgb(36, 59, 102);
}
#newletter h1{
    float:left
}
#newletter form{
    float:right;
    margin-top: 20px;
}
#newletter input[type="email"]{
    padding: 5px;
    width: 250px;
    height: 25px;
    }
    /*boxes*/
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float:left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
footer p{
   text-align:center;
   background: rgb(36, 59, 102);
   color: #ffffff;
   padding: 20px;
   margin-top: 20px;
}
